# env 
.venv/
venv/
env/
.env
.env.local
uv.lock
CLAUDE.md

# artifacts
dist/
build/
*.egg-info/
*/__pycache__/
*.pyo
*.pyd
*.pyc

# outputs
wandb/
outputs/
logs/

# development
.idea/
.vscode/
*.swp
.DS_Store


# WIPs
wip/
notebooks/
unsloth_compiled_cache
grpo_trainer_lora_model